services:
  app:
    build:
      context: ./
      dockerfile: docker/app/Dockerfile
    container_name: python-server
    volumes:
      - .:/home/www-data/app/
    ports:
      - 8000:8000
    depends_on:
      - db

  db:
    image: mysql
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - 3307:3306
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpMyAdmin
    restart: always
    ports:
      - 8080:80
    environment:
      PMA_ARBITRARY: 1
      UPLOAD_LIMIT: 120M
      PMA_HOST: ${DB_HOST}
      PMA_USER: ${DB_USER}
      PMA_PASSWORD: ${DB_PASSWORD}

volumes:
  db_data:
